@import url("https://fonts.googleapis.com/css2?family=Archivo&display=swap");

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.grid-container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px 100px 1fr 20px;
  grid-template-areas:
    "nav"
    "header"
    "main"
    "footer";
}

nav {
  background-color: #000000dc;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  grid-area: nav;
}

.linkbutton {
  background-color: #c4cf27;
  font-family: monospace;
  color: rgba(0, 0, 0);
  font-size: 20px;
  padding: 3px;
  text-align: center;
  border: rgba(0, 0, 0, 0.199);
  border-radius: 10%;
  border-style: groove;
  opacity: 85%;
}

.linkbutton:hover {
  background-color: #f32167;
}

header {
  background-image: url(picture-howto.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #ffffff;
  grid-area: header;
}

main {
  background-color: #000000dc;
  grid-area: main;
}

.article {
  margin: 25px;
  background-color: #c4cf27;
  font-family: "Archivo", sans-serif;
  padding: 15px;
  font-size: 24px;
  color: rgb(8, 8, 8);
  border: rgba(0, 0, 0, 0.13);
  border-radius: 10%;
  border-style: groove;
}

.article h2 {
  font-size: 50px;
  padding-bottom: 10px;
  text-align: center;
  text-decoration: underline;
}

/* VIDEO START */

.video-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video {
  background-color: #c4cf27;
  margin-bottom: 10px;
  font-family: monospace;
  font-size: 20px;
  text-align: center;
  color: rgba(0, 0, 0);
  padding: 1.5%;
  border: rgba(0, 0, 0, 0.199);
  border-radius: 8%;
  border-style: groove;
  opacity: 85%;
}

/* VIDEO END */

footer {
  background-color: #c4cf279f;
  color: rgba(0, 0, 0, 0.877);
  text-align: center;
  grid-area: footer;
}

@media screen and (min-width: 1280px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80px 1fr 25px;
    grid-template-areas:
      "header nav"
      "header main"
      "footer footer";
  }

  h1 {
    margin-top: 200px;
    font-size: 5rem;
    padding-right: 30px;
  }

  .linkbutton {
    font-size: 35px;
  }

  .video-container {
    margin-top: 13%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .article {
    margin: 5% 15% 5% 15%;
  }
}
