@import url("https://fonts.googleapis.com/css2?family=Archivo&display=swap");

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.grid-container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px 100px 1fr 20px;
  grid-template-areas:
    "nav"
    "header"
    "main"
    "footer";
}

nav {
  background-color: #000000dc;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  grid-area: nav;
}

.linkbutton,
.linkbutton-pay {
  background-color: #c4cf27;
  font-family: monospace;
  color: rgba(0, 0, 0);
  font-size: 20px;
  padding: 3px;
  text-align: center;
  border: rgba(0, 0, 0, 0.199);
  border-radius: 10%;
  border-style: groove;
  opacity: 85%;
}

.linkbutton:hover,
.linkbutton-pay:hover {
  background-color: #f32167;
}

.linkbutton-pay {
  margin-left: 15px;
  margin-bottom: 20px;
}

header {
  background-image: url(picture-order.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #000000;
  grid-area: header;
}

main {
  background-color: #000000dc;
  grid-area: main;
}

.article {
  margin: 25px;
  background-color: #c4cf27;
  font-family: "Archivo", sans-serif;
  padding: 15px;
  font-size: 24px;
  color: rgb(8, 8, 8);
  border: rgba(0, 0, 0, 0.13);
  border-radius: 10%;
  border-style: groove;
}

footer {
  background-color: #c4cf279f;
  color: rgba(0, 0, 0, 0.877);
  text-align: center;
  grid-area: footer;
}

/* FORM START */

form {
  background-color: #b4a2a25b;
  margin: 25px;
}

.option-container {
  height: 300px;
  display: grid;
  grid-template-columns: 150px 150px;
  grid-template-rows: 150px 150px;
  justify-content: center;
}

.option {
  position: relative;
  margin: 5px;
  font-family: monospace;
  padding-left: 15px;
  background-color: #c4cf27;
  color: rgb(8, 8, 8);
  font-size: 12px;
  border: rgba(0, 0, 0, 0.13);
  border-radius: 10%;
  border-style: groove;
}

.option input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  bottom: 5px;
  right: 5px;
  height: 20px;
  width: 20px;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
}

.option:hover input ~ .checkmark {
  background-color: rgba(43, 146, 132, 0.74);
}

.option input:checked ~ .checkmark {
  background-color: #f32167a9;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.option .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.label-text {
  text-align: center;
  margin: 15px;
  color: #c4cf27;
  font-family: monospace;
  border: rgba(0, 0, 0, 0.13);
  font-size: 25px;
}

.input-text {
  margin: 15px;
  margin-top: 0;
  font-family: monospace;
  background-color: #ffffff;
  color: rgb(8, 8, 8);
  border: rgba(0, 0, 0, 0.13);
  border-radius: 10%;
  border-style: groove;
  padding: 5px;
  font-size: 15px;
  width: 300px;
}

.input-text-zip {
  margin: 15px;
  margin-top: 0;
  font-family: monospace;
  background-color: #ffffff;
  color: rgb(8, 8, 8);
  border: rgba(0, 0, 0, 0.13);
  border-radius: 10%;
  border-style: groove;
  padding: 5px;
  font-size: 15px;
  width: 100px;
}

.price {
  font-size: large;
}

/* FORM END */

@media screen and (min-width: 1280px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80px 1fr 25px;
    grid-template-areas:
      "header nav"
      "header main"
      "footer footer";
  }

  .linkbutton,
  .linkbutton-pay {
    font-size: 35px;
  }

  .linkbutton-pay {
    margin-left: 70%;
  }
  .option-container {
    height: 250px;
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    grid-template-rows: 250px;
    justify-content: center;
  }

  .label-text,
  .input-text,
  .input-text-zip {
    margin-left: 5%;
    margin-bottom: 10px;
  }

  .checkmark {
    height: 30px;
    width: 30px;
  }

  .option {
    padding: 15px;
    padding-left: 20px;
    font-size: 16px;
  }
}
